html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  display: flex;
  background-color: #05010D;
  color: white;
}

h1 {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  line-height: 45;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
}

.center {
  width: 750px;
  margin: auto auto;
  z-index: 1;
  position: relative;
  padding: 20px;
  overflow-x: clip;
}

p {
  margin: 0;
  margin-top: 15px;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  line-height: 27px;
  font-weight: 500;
}

p, h1 {
  position: relative;
  z-index: 1;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
  color: white;
  margin-top: 20px;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  padding-right: 22px;
  color: #FFFFFFDE;
}

canvas {
  position: absolute;
  right: -70px;
  top: -290px;
}

.name {
  background: linear-gradient(244.91deg, #FD51A4 15.94%, #F25757 48.55%, #FB8745 84.06%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
