html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  display: flex;
  background-color: #05010D;
  color: white;
}

h1 {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  line-height: 45;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
}

.center {
  width: 750px;
  margin: auto auto;
  z-index: 1;
  position: relative;
}

p {
  margin: 0;
  margin-top: 15px;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  line-height: 27px;
  font-weight: 500;
}

p, h1 {
  position: relative;
  z-index: 1;
  text-shadow: 3px 4px 21px #05010D;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
  color: white;
  margin-top: 20px;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  padding-right: 22px;
  color: #FFFFFFDE;
}

canvas {
  position: absolute;
  right: -70px;
  top: -290px;
}
